In [1]:
# Import statements
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from statsmodels.tsa.stattools import acf

In [2]:
cases20 = pd.read_csv('Data/newCasesPCROnlyBySpecimenDate_ltla_2020.csv')
cases20 = cases20[['date','area_code','area_name','value']]

In [6]:
cases20[cases20['area_name']=='York']

             date  area_code area_name  value
161    2020-06-01  E06000014      York    3.0
495    2020-06-02  E06000014      York    7.0
802    2020-06-03  E06000014      York    2.0
1011   2020-06-04  E06000014      York    1.0
1403   2020-06-05  E06000014      York    3.0
...           ...        ...       ...    ...
56212  2020-12-27  E06000014      York  128.0
56551  2020-12-28  E06000014      York  133.0
56756  2020-12-29  E06000014      York  220.0
57102  2020-12-30  E06000014      York  186.0
57397  2020-12-31  E06000014      York  155.0

[183 rows x 4 columns]

In [3]:
ltlacovid = np.unique(cases20['area_name'])

In [4]:
lad19 = pd.read_csv('Data/England_LTLA_NHSER.csv')
# ltlalad = np.unique(lad19['LAD19NM'])

In [8]:
nhsltlas = np.unique(lad19['LTLA_name'])
nhsltlas

array(['Adur', 'Allerdale', 'Amber Valley', 'Arun', 'Ashfield', 'Ashford',
       'Babergh', 'Barking and Dagenham', 'Barnet', 'Barnsley',
       'Barrow-in-Furness', 'Basildon', 'Basingstoke and Deane',
       'Bassetlaw', 'Bath and North East Somerset', 'Bedford', 'Bexley',
       'Birmingham', 'Blaby', 'Blackburn with Darwen', 'Blackpool',
       'Bolsover', 'Bolton', 'Boston',
       'Bournemouth, Christchurch and Poole', 'Bracknell Forest',
       'Bradford', 'Braintree', 'Breckland', 'Brent', 'Brentwood',
       'Brighton and Hove', 'Bristol, City of', 'Broadland', 'Bromley',
       'Bromsgrove', 'Broxbourne', 'Broxtowe', 'Buckinghamshire',
       'Burnley', 'Bury', 'Calderdale', 'Cambridge', 'Camden',
       'Cannock Chase', 'Canterbury', 'Carlisle', 'Castle Point',
       'Central Bedfordshire', 'Charnwood', 'Chelmsford', 'Cheltenham',
       'Cherwell', 'Cheshire East', 'Cheshire West and Chester',
       'Chesterfield', 'Chichester', 'Chorley', 'City of London',
       'Colchester', 'Copeland', 'Corby', 'Cornwall', 'Cotswold',
       'County Durham', 'Coventry', 'Craven', 'Crawley', 'Croydon',
       'Dacorum', 'Darlington', 'Dartford', 'Daventry', 'Derby',
       'Derbyshire Dales', 'Doncaster', 'Dorset', 'Dover', 'Dudley',
       'Ealing', 'East Cambridgeshire', 'East Devon', 'East Hampshire',
       'East Hertfordshire', 'East Lindsey', 'East Northamptonshire',
       'East Riding of Yorkshire', 'East Staffordshire', 'East Suffolk',
       'Eastbourne', 'Eastleigh', 'Eden', 'Elmbridge', 'Enfield',
       'Epping Forest', 'Epsom and Ewell', 'Erewash', 'Exeter', 'Fareham',
       'Fenland', 'Folkestone and Hythe', 'Forest of Dean', 'Fylde',
       'Gateshead', 'Gedling', 'Gloucester', 'Gosport', 'Gravesham',
       'Great Yarmouth', 'Greenwich', 'Guildford', 'Hackney', 'Halton',
       'Hambleton', 'Hammersmith and Fulham', 'Harborough', 'Haringey',
       'Harlow', 'Harrogate', 'Harrow', 'Hart', 'Hartlepool', 'Hastings',
       'Havant', 'Havering', 'Herefordshire, County of', 'Hertsmere',
       'High Peak', 'Hillingdon', 'Hinckley and Bosworth', 'Horsham',
       'Hounslow', 'Huntingdonshire', 'Hyndburn', 'Ipswich',
       'Isle of Wight', 'Isles of Scilly', 'Islington',
       'Kensington and Chelsea', 'Kettering',
       "King's Lynn and West Norfolk", 'Kingston upon Hull, City of',
       'Kingston upon Thames', 'Kirklees', 'Knowsley', 'Lambeth',
       'Lancaster', 'Leeds', 'Leicester', 'Lewes', 'Lewisham',
       'Lichfield', 'Lincoln', 'Liverpool', 'Luton', 'Maidstone',
       'Maldon', 'Malvern Hills', 'Manchester', 'Mansfield', 'Medway',
       'Melton', 'Mendip', 'Merton', 'Mid Devon', 'Mid Suffolk',
       'Mid Sussex', 'Middlesbrough', 'Milton Keynes', 'Mole Valley',
       'New Forest', 'Newark and Sherwood', 'Newcastle upon Tyne',
       'Newcastle-under-Lyme', 'Newham', 'North Devon',
       'North East Derbyshire', 'North East Lincolnshire',
       'North Hertfordshire', 'North Kesteven', 'North Lincolnshire',
       'North Norfolk', 'North Somerset', 'North Tyneside',
       'North Warwickshire', 'North West Leicestershire', 'Northampton',
       'Northumberland', 'Norwich', 'Nottingham', 'Nuneaton and Bedworth',
       'Oadby and Wigston', 'Oldham', 'Oxford', 'Pendle', 'Peterborough',
       'Plymouth', 'Portsmouth', 'Preston', 'Reading', 'Redbridge',
       'Redcar and Cleveland', 'Redditch', 'Reigate and Banstead',
       'Ribble Valley', 'Richmond upon Thames', 'Richmondshire',
       'Rochdale', 'Rochford', 'Rossendale', 'Rother', 'Rotherham',
       'Rugby', 'Runnymede', 'Rushcliffe', 'Rushmoor', 'Rutland',
       'Ryedale', 'Salford', 'Sandwell', 'Scarborough', 'Sedgemoor',
       'Sefton', 'Selby', 'Sevenoaks', 'Sheffield', 'Shropshire',
       'Slough', 'Solihull', 'Somerset West and Taunton',
       'South Cambridgeshire', 'South Derbyshire',
       'South Gloucestershire', 'South Hams', 'South Holland',
       'South Kesteven', 'South Lakeland', 'South Norfolk',
       'South Northamptonshire', 'South Oxfordshire', 'South Ribble',
       'South Somerset', 'South Staffordshire', 'South Tyneside',
       'Southampton', 'Southend-on-Sea', 'Southwark', 'Spelthorne',
       'St Albans', 'St. Helens', 'Stafford', 'Staffordshire Moorlands',
       'Stevenage', 'Stockport', 'Stockton-on-Tees', 'Stoke-on-Trent',
       'Stratford-on-Avon', 'Stroud', 'Sunderland', 'Surrey Heath',
       'Sutton', 'Swale', 'Swindon', 'Tameside', 'Tamworth', 'Tandridge',
       'Teignbridge', 'Telford and Wrekin', 'Tendring', 'Test Valley',
       'Tewkesbury', 'Thanet', 'Three Rivers', 'Thurrock',
       'Tonbridge and Malling', 'Torbay', 'Torridge', 'Tower Hamlets',
       'Trafford', 'Tunbridge Wells', 'Uttlesford', 'Vale of White Horse',
       'Wakefield', 'Walsall', 'Waltham Forest', 'Wandsworth',
       'Warrington', 'Warwick', 'Watford', 'Waverley', 'Wealden',
       'Wellingborough', 'Welwyn Hatfield', 'West Berkshire',
       'West Devon', 'West Lancashire', 'West Lindsey',
       'West Oxfordshire', 'West Suffolk', 'Westminster', 'Wigan',
       'Wiltshire', 'Winchester', 'Windsor and Maidenhead', 'Wirral',
       'Woking', 'Wokingham', 'Wolverhampton', 'Worcester', 'Worthing',
       'Wychavon', 'Wyre', 'Wyre Forest', 'York'], dtype=object)

In [9]:
set(nhsltlas) - set(ltlacovid)

{'Buckinghamshire', 'City of London', 'Cornwall', 'Hackney', 'Isles of Scilly'}

In [17]:
lad19[lad19['LTLA_name']=='City of London']

,Unnamed: 0,LTLA_code,LTLA_name,NHSER_code,NHSER_name,idNHSER,combinedPop_allAges
281,282,E09000001,City of London,E40000003,London,1,8776.4

In [13]:
lad19[lad19['LTLA_name']=='Isles of Scilly']

,Unnamed: 0,LTLA_code,LTLA_name,NHSER_code,NHSER_name,idNHSER,combinedPop_allAges
49,50,E06000053,Isles of Scilly,E40000006,South West,3,1998.9

In [16]:
lad19[lad19['LTLA_name']=='Buckinghamshire']

,Unnamed: 0,LTLA_code,LTLA_name,NHSER_code,NHSER_name,idNHSER,combinedPop_allAges
56,57,E06000060,Buckinghamshire,E40000005,South East,2,553100.0

In [10]:
set(ltlacovid) - set(nhsltlas)

{'Aylesbury Vale',
 'Chiltern',
 'Cornwall and Isles of Scilly',
 'Hackney and City of London',
 'South Bucks',
 'Wycombe'}

In [6]:
ltlacovid

array(['Adur', 'Allerdale', 'Amber Valley', 'Arun', 'Ashfield', 'Ashford',
       'Aylesbury Vale', 'Babergh', 'Barking and Dagenham', 'Barnet',
       'Barnsley', 'Barrow-in-Furness', 'Basildon',
       'Basingstoke and Deane', 'Bassetlaw',
       'Bath and North East Somerset', 'Bedford', 'Bexley', 'Birmingham',
       'Blaby', 'Blackburn with Darwen', 'Blackpool', 'Bolsover',
       'Bolton', 'Boston', 'Bournemouth, Christchurch and Poole',
       'Bracknell Forest', 'Bradford', 'Braintree', 'Breckland', 'Brent',
       'Brentwood', 'Brighton and Hove', 'Bristol, City of', 'Broadland',
       'Bromley', 'Bromsgrove', 'Broxbourne', 'Broxtowe', 'Burnley',
       'Bury', 'Calderdale', 'Cambridge', 'Camden', 'Cannock Chase',
       'Canterbury', 'Carlisle', 'Castle Point', 'Central Bedfordshire',
       'Charnwood', 'Chelmsford', 'Cheltenham', 'Cherwell',
       'Cheshire East', 'Cheshire West and Chester', 'Chesterfield',
       'Chichester', 'Chiltern', 'Chorley', 'Colchester', 'Copeland',
       'Corby', 'Cornwall and Isles of Scilly', 'Cotswold',
       'County Durham', 'Coventry', 'Craven', 'Crawley', 'Croydon',
       'Dacorum', 'Darlington', 'Dartford', 'Daventry', 'Derby',
       'Derbyshire Dales', 'Doncaster', 'Dorset', 'Dover', 'Dudley',
       'Ealing', 'East Cambridgeshire', 'East Devon', 'East Hampshire',
       'East Hertfordshire', 'East Lindsey', 'East Northamptonshire',
       'East Riding of Yorkshire', 'East Staffordshire', 'East Suffolk',
       'Eastbourne', 'Eastleigh', 'Eden', 'Elmbridge', 'Enfield',
       'Epping Forest', 'Epsom and Ewell', 'Erewash', 'Exeter', 'Fareham',
       'Fenland', 'Folkestone and Hythe', 'Forest of Dean', 'Fylde',
       'Gateshead', 'Gedling', 'Gloucester', 'Gosport', 'Gravesham',
       'Great Yarmouth', 'Greenwich', 'Guildford',
       'Hackney and City of London', 'Halton', 'Hambleton',
       'Hammersmith and Fulham', 'Harborough', 'Haringey', 'Harlow',
       'Harrogate', 'Harrow', 'Hart', 'Hartlepool', 'Hastings', 'Havant',
       'Havering', 'Herefordshire, County of', 'Hertsmere', 'High Peak',
       'Hillingdon', 'Hinckley and Bosworth', 'Horsham', 'Hounslow',
       'Huntingdonshire', 'Hyndburn', 'Ipswich', 'Isle of Wight',
       'Islington', 'Kensington and Chelsea', 'Kettering',
       "King's Lynn and West Norfolk", 'Kingston upon Hull, City of',
       'Kingston upon Thames', 'Kirklees', 'Knowsley', 'Lambeth',
       'Lancaster', 'Leeds', 'Leicester', 'Lewes', 'Lewisham',
       'Lichfield', 'Lincoln', 'Liverpool', 'Luton', 'Maidstone',
       'Maldon', 'Malvern Hills', 'Manchester', 'Mansfield', 'Medway',
       'Melton', 'Mendip', 'Merton', 'Mid Devon', 'Mid Suffolk',
       'Mid Sussex', 'Middlesbrough', 'Milton Keynes', 'Mole Valley',
       'New Forest', 'Newark and Sherwood', 'Newcastle upon Tyne',
       'Newcastle-under-Lyme', 'Newham', 'North Devon',
       'North East Derbyshire', 'North East Lincolnshire',
       'North Hertfordshire', 'North Kesteven', 'North Lincolnshire',
       'North Norfolk', 'North Somerset', 'North Tyneside',
       'North Warwickshire', 'North West Leicestershire', 'Northampton',
       'Northumberland', 'Norwich', 'Nottingham', 'Nuneaton and Bedworth',
       'Oadby and Wigston', 'Oldham', 'Oxford', 'Pendle', 'Peterborough',
       'Plymouth', 'Portsmouth', 'Preston', 'Reading', 'Redbridge',
       'Redcar and Cleveland', 'Redditch', 'Reigate and Banstead',
       'Ribble Valley', 'Richmond upon Thames', 'Richmondshire',
       'Rochdale', 'Rochford', 'Rossendale', 'Rother', 'Rotherham',
       'Rugby', 'Runnymede', 'Rushcliffe', 'Rushmoor', 'Rutland',
       'Ryedale', 'Salford', 'Sandwell', 'Scarborough', 'Sedgemoor',
       'Sefton', 'Selby', 'Sevenoaks', 'Sheffield', 'Shropshire',
       'Slough', 'Solihull', 'Somerset West and Taunton', 'South Bucks',
       'South Cambridgeshire', 'South Derbyshire',
       'South Gloucestershire', 'South Hams', 'South Holland',
       'South Kesteven', 'South Lakeland', 'South Norfolk',
       'South Northamptonshire', 'South Oxfordshire', 'South Ribble',
       'South Somerset', 'South Staffordshire', 'South Tyneside',
       'Southampton', 'Southend-on-Sea', 'Southwark', 'Spelthorne',
       'St Albans', 'St. Helens', 'Stafford', 'Staffordshire Moorlands',
       'Stevenage', 'Stockport', 'Stockton-on-Tees', 'Stoke-on-Trent',
       'Stratford-on-Avon', 'Stroud', 'Sunderland', 'Surrey Heath',
       'Sutton', 'Swale', 'Swindon', 'Tameside', 'Tamworth', 'Tandridge',
       'Teignbridge', 'Telford and Wrekin', 'Tendring', 'Test Valley',
       'Tewkesbury', 'Thanet', 'Three Rivers', 'Thurrock',
       'Tonbridge and Malling', 'Torbay', 'Torridge', 'Tower Hamlets',
       'Trafford', 'Tunbridge Wells', 'Uttlesford', 'Vale of White Horse',
       'Wakefield', 'Walsall', 'Waltham Forest', 'Wandsworth',
       'Warrington', 'Warwick', 'Watford', 'Waverley', 'Wealden',
       'Wellingborough', 'Welwyn Hatfield', 'West Berkshire',
       'West Devon', 'West Lancashire', 'West Lindsey',
       'West Oxfordshire', 'West Suffolk', 'Westminster', 'Wigan',
       'Wiltshire', 'Winchester', 'Windsor and Maidenhead', 'Wirral',
       'Woking', 'Wokingham', 'Wolverhampton', 'Worcester', 'Worthing',
       'Wychavon', 'Wycombe', 'Wyre', 'Wyre Forest', 'York'], dtype=object)

In [34]:
# Convert to wide format for ease of future calculations
wide_data_total = weekly_counts_total.pivot(index='date', columns='area_name', values='detrended')
wide_data_incidence = weekly_counts_total.pivot(index='date', columns='area_name', values='incidence')